# Dependencies
node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz

# Environment variables
.env
.env.local
.env.*.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build output
dist/
build/
out/

# Cache
.cache/
.npm/
.eslintcache
.tsbuildinfo

# Replit specific
.replit/
.breakpoints
replit.nix